extends layout

block content
  h1 NuevaMatricula
  p Alta de nueva asignatura
  form(id="newAsignatura")
    div#selects
      input#name(type="text", name="name" placeholder="Subject's name here..")
      br
      input#horas(type="number", name="horas" placeholder="How many hours will have the subject")
      br
      select#selectDocents(name="docents", disabled) 
      br
      input#checkAlumnes(type="checkbox", name="alumnes")  
    input(type="submit")

